In [1]:
# Formação Cientista de Dados
# Seleção de atributos

In [2]:
# Importação das bibliotecas
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.svm import SVC
from sklearn.ensemble import ExtraTreesClassifier

In [3]:
# Carregamento da base de dados e criação dos previsores (variáveis independentes - X) e da classe (variável dependente - y)
credito = pd.read_csv('./data/Credit.csv')
credito

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad
5,'no checking',36,'existing paid',education,9055,'no known savings',1<=X<4,2,'male single',none,...,'no known property',35,none,'for free',1,'unskilled resident',2,yes,yes,good
6,'no checking',24,'existing paid',furniture/equipment,2835,500<=X<1000,>=7,3,'male single',none,...,'life insurance',53,none,own,1,skilled,1,none,yes,good
7,0<=X<200,36,'existing paid','used car',6948,<100,1<=X<4,2,'male single',none,...,car,35,none,rent,1,'high qualif/self emp/mgmt',1,yes,yes,good
8,'no checking',12,'existing paid',radio/tv,3059,>=1000,4<=X<7,2,'male div/sep',none,...,'real estate',61,none,own,1,'unskilled resident',1,none,yes,good
9,0<=X<200,30,'critical/other existing credit','new car',5234,<100,unemployed,4,'male mar/wid',none,...,car,28,none,own,2,'high qualif/self emp/mgmt',1,none,yes,bad
10,0<=X<200,12,'existing paid','new car',1295,<100,<1,3,'female div/dep/mar',none,...,car,25,none,rent,1,skilled,1,none,yes,bad
11,<0,48,'existing paid',business,4308,<100,<1,3,'female div/dep/mar',none,...,'life insurance',24,none,rent,1,skilled,1,none,yes,bad
12,0<=X<200,12,'existing paid',radio/tv,1567,<100,1<=X<4,1,'female div/dep/mar',none,...,car,22,none,own,1,skilled,1,yes,yes,good
13,<0,24,'critical/other existing credit','new car',1199,<100,>=7,4,'male single',none,...,car,60,none,own,2,'unskilled resident',1,none,yes,bad
14,<0,15,'existing paid','new car',1403,<100,1<=X<4,2,'female div/dep/mar',none,...,car,28,none,rent,1,skilled,1,none,yes,good
15,<0,24,'existing paid',radio/tv,1282,100<=X<500,1<=X<4,4,'female div/dep/mar',none,...,car,32,none,own,1,'unskilled resident',1,none,yes,bad
16,'no checking',24,'critical/other existing credit',radio/tv,2424,'no known savings',>=7,4,'male single',none,...,'life insurance',53,none,own,2,skilled,1,none,yes,good
17,<0,30,'no credits/all paid',business,8072,'no known savings',<1,2,'male single',none,...,car,25,bank,own,3,skilled,1,none,yes,good
18,0<=X<200,24,'existing paid','used car',12579,<100,>=7,4,'female div/dep/mar',none,...,'no known property',44,none,'for free',1,'high qualif/self emp/mgmt',1,yes,yes,bad
19,'no checking',24,'existing paid',radio/tv,3430,500<=X<1000,>=7,3,'male single',none,...,car,31,none,own,1,skilled,2,yes,yes,good
20,'no checking',9,'critical/other existing credit','new car',2134,<100,1<=X<4,4,'male single',none,...,car,48,none,own,3,skilled,1,yes,yes,good
21,<0,6,'existing paid',radio/tv,2647,500<=X<1000,1<=X<4,2,'male single',none,...,'real estate',44,none,rent,1,skilled,2,none,yes,good
22,<0,10,'critical/other existing credit','new car',2241,<100,<1,1,'male single',none,...,'real estate',48,none,rent,2,'unskilled resident',2,none,no,good
23,0<=X<200,12,'critical/other existing credit','used car',1804,100<=X<500,<1,3,'male single',none,...,'life insurance',44,none,own,1,skilled,1,none,yes,good
24,'no checking',10,'critical/other existing credit',furniture/equipment,2069,'no known savings',1<=X<4,2,'male mar/wid',none,...,car,26,none,own,2,skilled,1,none,no,good
25,<0,6,'existing paid',furniture/equipment,1374,<100,1<=X<4,1,'male single',none,...,'real estate',36,bank,own,1,'unskilled resident',1,yes,yes,good
26,'no checking',6,'no credits/all paid',radio/tv,426,<100,>=7,4,'male mar/wid',none,...,car,39,none,own,1,'unskilled resident',1,none,yes,good
27,>=200,12,'all paid',radio/tv,409,>=1000,1<=X<4,3,'female div/dep/mar',none,...,'real estate',42,none,rent,2,skilled,1,none,yes,good
28,0<=X<200,7,'existing paid',radio/tv,2415,<100,1<=X<4,3,'male single',guarantor,...,'real estate',34,none,own,1,skilled,1,none,yes,good
29,<0,60,'delayed previously',business,6836,<100,>=7,3,'male single',none,...,'no known property',63,none,own,2,skilled,1,yes,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,0<=X<200,15,'existing paid',repairs,1514,100<=X<500,1<=X<4,4,'male single',guarantor,...,'real estate',22,none,own,1,skilled,1,none,yes,good
971,'no checking',24,'existing paid','new car',7393,<100,1<=X<4,1,'male single',none,...,'life insurance',43,none,own,1,'unskilled resident',2,none,yes,good
972,<0,24,'all paid','new car',1193,<100,unemployed,1,'female div/dep/mar','co applicant',...,'no known property',29,none,rent,2,'unemp/unskilled non res',1,none,yes,bad
973,<0,60,'existing paid',business,7297,<100,>=7,4,'male single','co applicant',...,'no known property',36,none,rent,1,skilled,1,none,yes,bad
974,'no checking',30,'critical/other existing credit',radio/tv,2831,<100,1<=X<4,4,'female div/dep/mar',none,...,car,33,none,own,1,skilled,1,yes,yes,good
975,>=200,24,'existing paid',radio/tv,1258,500<=X<1000,1<=X<4,3,'female div/dep/mar',none,...,car,57,none,own,1,'unskilled resident',1,none,yes,good
976,0<=X<200,6,'existing paid',radio/tv,753,<100,1<=X<4,2,'female div/dep/mar',guarantor,...,'real estate',64,none,own,1,skilled,1,none,yes,good
977,0<=X<200,18,'delayed previously',business,2427,'no known savings',>=7,4,'male single',none,...,'life insurance',42,none,own,2,skilled,1,none,yes,good
978,'no checking',24,'delayed previously','new car',2538,<100,>=7,4,'male single',none,...,car,47,none,own,2,'unskilled resident',2,none,yes,bad
979,0<=X<200,15,'all paid','new car',1264,100<=X<500,1<=X<4,2,'male mar/wid',none,...,'life insurance',25,none,rent,1,skilled,1,none,yes,bad
980,0<=X<200,30,'critical/other existing credit',furniture/equipment,8386,<100,4<=X<7,2,'male single',none,...,'life insurance',49,none,own,1,skilled,1,none,yes,bad
981,'no checking',48,'existing paid',business,4844,<100,unemployed,3,'male single',none,...,car,33,bank,rent,1,'high qualif/self emp/mgmt',1,yes,yes,bad
982,>=200,21,'existing paid','new car',2923,100<=X<500,1<=X<4,1,'female div/dep/mar',none,...,car,28,bank,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
983,<0,36,'existing paid','used car',8229,<100,1<=X<4,2,'male single',none,...,'life insurance',26,none,own,1,skilled,2,none,yes,bad
984,'no checking',24,'critical/other existing credit',furniture/equipment,2028,<100,4<=X<7,2,'male single',none,...,'life insurance',30,none,own,2,'unskilled resident',1,none,yes,good
985,<0,15,'critical/other existing credit',furniture/equipment,1433,<100,1<=X<4,4,'female div/dep/mar',none,...,'life insurance',25,none,rent,2,skilled,1,none,yes,good
986,>=200,42,'no credits/all paid',business,6289,<100,<1,2,'male div/sep',none,...,'life insurance',33,none,own,2,skilled,1,none,yes,good
987,'no checking',13,'existing paid',radio/tv,1409,100<=X<500,unemployed,2,'female div/dep/mar',none,...,'real estate',64,none,own,1,skilled,1,none,yes,good
988,<0,24,'existing paid','used car',6579,<100,unemployed,4,'male single',none,...,'no known property',29,none,'for free',1,'high qualif/self emp/mgmt',1,yes,yes,good
989,0<=X<200,24,'critical/other existing credit',radio/tv,1743,<100,>=7,4,'male single',none,...,'life insurance',48,none,own,2,'unskilled resident',1,none,yes,good
990,'no checking',12,'critical/other existing credit',education,3565,'no known savings',<1,2,'male single',none,...,'life insurance',37,none,own,2,'unskilled resident',2,none,yes,good
991,'no checking',15,'all paid',radio/tv,1569,100<=X<500,>=7,4,'male single',none,...,car,34,bank,own,1,'unskilled resident',2,none,yes,good
992,<0,18,'existing paid',radio/tv,1936,'no known savings',4<=X<7,2,'male mar/wid',none,...,car,23,none,rent,2,'unskilled resident',1,none,yes,good
993,<0,36,'existing paid',furniture/equipment,3959,<100,unemployed,4,'male single',none,...,'life insurance',30,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
994,'no checking',12,'existing paid','new car',2390,'no known savings',>=7,4,'male single',none,...,car,50,none,own,1,skilled,1,yes,yes,good
995,'no checking',12,'existing paid',furniture/equipment,1736,<100,4<=X<7,3,'female div/dep/mar',none,...,'real estate',31,none,own,1,'unskilled resident',1,none,yes,good
996,<0,30,'existing paid','used car',3857,<100,1<=X<4,4,'male div/sep',none,...,'life insurance',40,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
997,'no checking',12,'existing paid',radio/tv,804,<100,>=7,4,'male single',none,...,car,38,none,own,1,skilled,1,none,yes,good
998,<0,45,'existing paid',radio/tv,1845,<100,1<=X<4,4,'male single',none,...,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad
999,0<=X<200,45,'critical/other existing credit','used car',4576,100<=X<500,unemployed,3,'male single',none,...,car,27,none,own,1,skilled,1,none,yes,good

In [4]:
previsores = credito.iloc[:,0:20].values
classe = credito.iloc[:,20].values

In [5]:
# Transformação dos atributos categóricos em atributos numéricos, passando o índice de cada atributo categórico
labelencoder = LabelEncoder()
previsores[:,0] = labelencoder.fit_transform(previsores[:,0])
previsores[:,2] = labelencoder.fit_transform(previsores[:,2])
previsores[:, 3] = labelencoder.fit_transform(previsores[:, 3])
previsores[:, 5] = labelencoder.fit_transform(previsores[:, 5])
previsores[:, 6] = labelencoder.fit_transform(previsores[:, 6])
previsores[:, 8] = labelencoder.fit_transform(previsores[:, 8])
previsores[:, 9] = labelencoder.fit_transform(previsores[:, 9])
previsores[:, 11] = labelencoder.fit_transform(previsores[:, 11])
previsores[:, 13] = labelencoder.fit_transform(previsores[:, 13])
previsores[:, 14] = labelencoder.fit_transform(previsores[:, 14])
previsores[:, 16] = labelencoder.fit_transform(previsores[:, 16])
previsores[:, 18] = labelencoder.fit_transform(previsores[:, 18])
previsores[:, 19] = labelencoder.fit_transform(previsores[:, 19])

In [6]:
# Divisão da base de dados entre treinamento e teste (30% para testar e 70% para treinar)
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(previsores,
                                                                  classe,
                                                                  test_size = 0.3,
                                                                  random_state = 1)

In [7]:
# Criação do modelo, treinamento, obtenção das previsões e da taxa de acerto
svm = SVC()
svm.fit(X_treinamento, y_treinamento)

C:\Users\caiom\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [8]:
#previsoes
previsoes = svm.predict(X_teste)
previsoes

array(['good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good'], dtype=object)

In [9]:
taxa_acerto = accuracy_score(y_teste, previsoes)
taxa_acerto

0.7133333333333334

In [10]:
# Utilização do algoritmo ExtraTreesClassifier para extrair as características mais importantes
forest = ExtraTreesClassifier()
forest.fit(X_treinamento, y_treinamento)
importancias = forest.feature_importances_
importancias

C:\Users\caiom\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([0.09975684, 0.09903419, 0.06440061, 0.06492028, 0.08335377,
       0.04933959, 0.0523181 , 0.05196074, 0.04405101, 0.02270358,
       0.04564295, 0.04160604, 0.0704303 , 0.0421131 , 0.04171363,
       0.03622145, 0.03235225, 0.02096751, 0.03112723, 0.00598685])

In [11]:
# Criação de nova base de dados utilizando somente os atributos mais importantes
X_treinamento2 = X_treinamento[:,[0,1,2,3]]
X_teste2 = X_teste[:,[0,1,2,3]]

In [12]:
# Criar de outro modelo com a base de dados reduzida, treinamento e obtençaão das previsões e taxa de acerto
svm2 = SVC()
svm2.fit(X_treinamento2, y_treinamento)
previsoes2 = svm2.predict(X_teste2)
taxa_acerto = accuracy_score(y_teste, previsoes2)
taxa_acerto

C:\Users\caiom\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.6966666666666667